@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;

}
body{
  background-color: aliceblue;
}
header{
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 40px;
  margin: 0 auto;
  height: 90px;
}
.logo h2{
  width: 120px;
  margin-top: 8px;
  font-size: 40px;
  font-weight: bolder;
}
nav .logo{
  display: none;
}
span{
  color: rgb(0, 47, 255);
  font-size: 40px;

}
nav ul{
   display: flex;
}

nav ul a{
  color: black;
  text-decoration: none;
  display: flex;
  margin: 0 2px;
  font-weight: 600;
  font-size: 20px;
  padding: 8px 18px;
  transition: 0.2s;
  border-radius: 30px;
  margin-left: 30px;
}
nav ul  a:hover{
  background-color: rgb(243, 156, 156);
}
nav ul a.active{
  background-color: rgb(243, 156, 156);

}
.hamburger{
  display: none;
  height: fit-content;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  transition: 0.2s;
}
.hamburger:hover{
  background-color: yellow;
}
.hamburger div{
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background-color: black;
}
.homeimage{
  width: 100%;
  height: 80vh;
}
.homeh1{
  color: rgb(3, 3, 3);
}
.hometext{
  color: rgb(0, 0, 0);
  top: 25%;
  position: absolute;
  padding: 8%;
  left: 23%;
}
.hometext h1{
  font-size: 20px;
}
.hometext h2{
  font-size: 80px;
  font-weight: lighter;
}
.homespan{
  font-weight: 800;
  color: rgb(0, 0, 0);
  font-size: 70px;

}
.home2{
  top: 18%;
  margin-left: 8%;
  /* display: flex; */
  justify-content: center;
  min-height: 35vh;
  margin: 120px auto;
  width: 70%;
  margin-bottom: 8%;
}
.home2 img{
  max-width: 520px;
  float: left;
  border-radius: 10px;
  margin-right: 15px;
}
.hometextbox{
  color: rgb(0, 0, 0);
}
.hometextbox h2{
  font-size: 42px;
}
.hometextbox p{
  font-size: 18px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.625);
  line-height: 2rem;
}
button {
  margin-top: 3%;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fbd7d7;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: rgb(243, 156, 156);
  box-shadow: 0px 15px 20px rgb(239, 185, 185);
  color: #000000;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}
.card-group{
  display: flex;
}
.card-group img{
  width: 100%;
}
.card1{
  width: 20%;
  margin-right: 10%;
  margin-left: 5%;
}
.card2{
  width: 21%;
}
.homeheader{
  align-items: center;
  justify-content: center;
  margin-left: 35%;
  position: relative;
  margin-bottom: 1.5%;
}
.homeheader h2{
  font-size: 35px;
}
.homeheader h5{
  font-size: 18px;
  color: rgb(241, 106, 106);

}
.home4{
  top: 18%;
  margin-left: 8%;
  display: flex;
  justify-content: center;
  min-height: 65vh;
  margin: 120px auto;
  width: 90%;
}
.home4img{
  width: 150%;
  border-radius: 10px;
  margin-left: 25px;
  float: right;

}

.hometextboxy p{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.737);
  margin-top: 20px;
}
.servicewrapper{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.servicewrapper img{
  height: 40vh;
  width: 90%;
filter: brightness(0.5);
}
.servicetext{
  color: rgb(255, 253, 253);
  top: 15%;
  position: absolute;
  text-align: center;
  padding: 8%;
  left: 33%;
  font-family: 'Raleway', sans-serif;
}
.servicetext h5{
  font-size: 18px;
}
.servicetext h2{
  font-size: 50px;
}
.servicebody{
  margin-top: 2%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.servicewraper a{
  display: inline-block;
  position: relative;
  color: #000000;   
   text-decoration: none;
    margin: 0 2px;
    font-weight: bolder;
    font-size: 20px;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
    margin-left: 5px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.servicewraper a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(243, 156, 156);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.servicewraper a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}





.servicewraper{
  margin-top: 2%;
  display: flex;
}
.col{
  margin-left:13%;  
margin-top: 5%;
align-items: center;
  justify-content: center;
}
 .card{
  width: 80%;

  border: none;
}
.outlet{
  margin-top: 2%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.serviceimg{
  align-items: center;
  justify-content: center;
  position: relative;
  top: 3%;
  left: 40%;
  width: 25%;
}
.servicehead{
  margin-top: 5%;
}
.servicehead h3{
  color: rgb(0, 0, 0);
  font-weight: bolder;
  position: relative;
  margin-left: 46%;
}
.servicehead h5{
  position: relative;
  margin-left: 15%;
}
.dentalimplant img{
  width: 50%;
  position: relative;
  left: 30%;
}
.teethwhitening img{
  height: 50%;
}
.servicebtn{
  position: relative;
  top: 105%;
  margin-left: 43%
  ;
}
.servicebody2{
  background-color: rgba(244, 227, 227, 0.391);
  margin-top: 10%;
  padding-bottom: 1px;
  padding-top: 1%;
}
.servicebody3{
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
  margin-left: 10%;
}
.servicebody3 .column{
  flex: 0 0 auto;
  width: 40%;
}
.servicebody3 img{
  width: 120%;
  background-position: center;
}

.dropdown{
  margin-bottom: 7%;
}
.dropdown a{
  color: black;
}
.dropdown-menu{
  background-color: #f6e9e9;
  border: none;
  width: 74%;
}


@media (max-width: 850px) {
  .servicebody3 {
      flex-flow: row wrap;
  }
  .servicebody3 img{
    display: block;
    order: 1;
    width: 180%;
    height: 200px;
  }
  .servicebody3 .content{
    display: block;
    order: 2;
    width: 100%;

  }
  nav {
    display: block;
    order: 1; 
  }
}













@media (min-width: 768px) and (max-width: 1024px) {
  .column {
      width: 50%;
  }
}
@media (min-width: 1025px) {
  .column {
      width: 25%;
  }
}

